In [2]:
b = True
print(b, type(b))
num = 20
print(num,type(num))
pi = 3.14
print(pi,type(pi))
s = 'Hello'
print(s,type(s))

True <class 'bool'>
20 <class 'int'>
3.14 <class 'float'>
Hello <class 'str'>

In [3]:
a = 1
print(a,id(a))
a = 'Python'
print(a,id(a))

1 140108337692912
Python 140108337640496

In [4]:
a = 5
print(a,id(a))
a += 1
print(a,id(a))

5 140108337693040
6 140108337693072

In [16]:
a = 10
b = 10.5
c = (a>b)
d = (a!=b)

print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

print((a>5) and (a>11))
print((a>5) or (a>11))

10 <class 'int'>
10.5 <class 'float'>
False <class 'bool'>
True <class 'bool'>
False
True

In [28]:
c = 300
p = 350
v = 400

cost = int(input('請輸入上衣數量?'))
pant = int(input('請輸入褲子數量?'))
vest = int(input('請輸入背心數量?'))

T = c*cost + p*pant + v*vest
print('訂購服裝的總金額為',T)

請輸入上衣數量?30
請輸入褲子數量?40
請輸入背心數量?50
訂購服裝的總金額為 43000

In [42]:
上衣價格 = 300
褲子價格 = 350
背心價格 = 400

上衣數量 = int(input('請輸入上衣數量?'))
褲子數量 = int(input('請輸入褲子數量?'))
背心數量 = int(input('請輸入背心數量?'))

總額 = 上衣價格*上衣數量+褲子價格*褲子數量+背心價格*背心數量

print(str(上衣價格),'*',str(上衣數量), '+', str(褲子價格), '*',str(褲子數量), '+',str(背心價格),'*', str(背心數量) , '=', 總額)

請輸入上衣數量?2
請輸入褲子數量?3
請輸入背心數量?1
300 * 2 + 350 * 3 + 400 * 1 = 2050

In [33]:
s1 = '01234'
s2 = '56789'
s3 = (s1+s2)*10
print(s3)

0123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789